<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nueva Reseña</title>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navigation") %>
    <container id="feedback-con" name="feedback-con">
        <form action="/feedbacking" method="POST" class="form">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <div class="card animated fadeInDown">
                        <img src="<%= image.path %>" class="card-img-top">
                            <div class ="card-body">
                                <h5 class="card-title"><%= image.title %></h5>
                                <p class="card-text"><%= image.price %></p>
                                <p class="card-text"><%= image.description %></p>
                                <p class="card-text"><%= image.category %></p>
                                <p class="card-text"><%= format(image.created_at) %></p>
                                <input type="text" name="productTitle" id="productTitle" value="<%= image.title %>" hidden>
                                <input type="text" name="comment" id="comment" class="form-control"></input>
                                <input type="submit" value="Upload" class="btn btn-lg btn-primary btn-block"></input>
                            </div>
                    </div>
                </div>
            </div>
        </form>
    </container>
</body>
</html>