<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nueva Reseña</title>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navigation") %>
    
    <container id="feedback-con" name="feedback-con">
        <form action="/image/<%= image._id %>/feedback" method="POST" class="form">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <div class="card animated fadeInDown">
                            <div class ="card-body">
                                <img src="<%= image.path %>" class="card-img-top">
                                <h5 class="card-title"><%= image.title %></h5>
                                <textarea name="imageID" style="display:none;"><%= image.id %></textarea>
                                <p class="card-text"><%= image.price %></p>
                                <p class="card-text"><%= image.description %></p>
                                <p class="card-text"><%= image.category %></p>
                                <p class="card-text"><%= format(image.created_at) %></p>

                                <form action="/image/<%= image._id %>/feedback" method="POST">
                                    
                                    <div class="form-group">
                                        <textarea name="name" class="form-control" placeholder="Nombre"></textarea>
                                    </div>

                                    
    
                                    <div class="form-group">
                                        <textarea name="email" class="form-control" placeholder="Email"></textarea>
                                    </div>
    
                                    <div class="form-group">
                                        <textarea name="comment" class="form-control" placeholder="Reseña de máximo 150 carácteres..."></textarea>
                                    </div>
                                    <div class="form-grop">
                                        <button type="submit" class="btn btn-success btn-block">
                                            Publicar Reseña
                                        </button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
    </container>
</body>
</html>