doctype html
html
    head
        title= `${title}`
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/styles.css')

        

    body
        div.container.registration-con

            h3 Please fill your info and hit the register button, then login
            
            -data = data || {}

            if error
                ul.my-error
                    li=error

            if errors
                ul.my-errors
                    for error in errors
                        li= error.msg
            else
                infoLabel(for="infoLabel" name="infoLabel" id="infoLabel" type="infoLabel") *All the information is neccessary to register

            form(action="/register" method="POST" class="form-register")
                div.container.first_row
                    label(for="name" type="inLabel") Name:
                    input(
                        name="name"
                        id="name"
                        type="input"
                        class="form-control"  
                    )
                    label(for="email", type="inLabel") Email:
                    input(
                        name="email"
                        id="email"
                        type="input"
                        class="form-control" 
                    )
                div.container.second_row
                    label(for="password", type="inLabel") Password:
                    input(
                        name="password"
                        id="password"
                        type="input"
                        class="form-control" 
                    )
                    label(for="age", type="inLabel") Age:
                    input(
                        name="age"
                        id="age"
                        type="number"
                        class="form-control" 
                    )
                div.container.third_row
                    label(for="address", type="inLabel") Address:
                    input(
                        name="address"
                        id="address"
                        type="input"
                        class="form-control" 
                    )
                    label(for="city", type="inLabel") City:
                    input(
                        name="city"
                        id="city"
                        type="input"
                        class="form-control" 
                    )
                input(
                    type="submit"
                    value="Submit"
                    class="btn btn-lg btn-primary btn-block"
                )