<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de Reseñas</title>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navigation") %>
    <div class="container p-4">
        <div class="row tex">
            <div class="col-md-4 offset-md-4">
                <div class="card animated fadeInDown">
                    <img src="<%= image.path %>" class="card-img-top">
                        <div class ="card-body">
                            <h5 class="card-title"><%= image.title %></h5>
                            <textarea name="imageID" style="display:none;"><%= image.id %></textarea>
                            <p class="card-text"><%= image.price %></p>
                            <p class="card-text"><%= image.description %></p>
                            <p class="card-text"><%= image.category %></p>
                            <p class="card-text"><%= format(image.created_at) %></p>
                        </div>
                    </img>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container p-4">
        <ul class="list-group p-4">
            <% comments.forEach(function(comment) { %>
                <li class="list-group-item">
                    <div class="row">
                        <a href="#" class="col text-center">
                            <img src="http://gravatar.com/avatar/<%= comment.email %>?d=monsterid&s=45" alt="">
                        </a>
                        <blockquote class="col">
                            <p class ="lead"><%= comment.comment %></p>
                            <footer class="blockquote-footer">
                                <%= comment.name %> - <%= format(comment.timestamp) %>
                            </footer>
                        </blockquote>
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>
</body>
</html>